{{#unless empty?}}
    <div class="row">
        <div></div>
        <h2>
            {{priority}}
            {{#if paginated?}}
                <span class="pagination">
                    {{#if previous?}}
                        <a href="#" class="prev-page">◀</a>
                    {{/if}}
                    {{range_start}}–{{range_end}}
                    {{#if next?}}
                        <a href="#" class="next-page">►</a>
                    {{/if}}
                </span>
            {{/if}}
        </h2>
    </div>

    {{#each playlists}}
        {{> _playlist}}
    {{/each}}
{{/unless}}
