body#playlists-index, body#playlists-list
  h1 small
    font-size: 18px
    font-weight: normal

  .playlists
    margin-bottom: 80px

  .playlist
    margin-bottom: 20px
    align-items: center

    &.listened
      opacity: 0.5

    .info
      a
        font-weight: 600

      h1
        font-size: 22px
        font-weight: 700
        margin-bottom: 0
        margin-top: 0

      p
        margin: 5px 0
        font-size: 18px

    p.tags a
      font-weight: normal

.playlist-check
  appearance: none
  background: image-url('playlist-check/unchecked.png') no-repeat center center
  width: 36px
  height: 36px
  cursor: pointer

  &:active
    background-image: image-url('playlist-check/unchecked-active.png')
  &:checked
    background-image: image-url('playlist-check/checked.png')
  &:checked:active
    background-image: image-url('playlist-check/checked-active.png')


@media only screen and (max-width: 768px)
  body#playlists-index, body#playlists-list
    .playlists
      margin-bottom: 30px

    .playlist
      align-items: center
