- js_file             = Rails.root.join('app', 'views', controller_name, action_name + '.js')
- js_coffee_file      = Rails.root.join('app', 'views', controller_name, action_name + '.js.coffee')
- js_erb_file         = Rails.root.join('app', 'views', controller_name, action_name + '.js.erb')
- js_coffee_erb_file  = Rails.root.join('app', 'views', controller_name, action_name + '.js.coffee.erb')

script type="text/javascript" == raw(File.read(js_file)) if File.exists?(js_file)
script type="text/javascript" == raw(CoffeeScript.compile(File.read(js_coffee_file))) if File.exist?(js_coffee_file)
script type="text/javascript" == raw(ERB.new(File.read(js_erb_file)).result(binding)) if File.exist?(js_erb_file)
script type="text/javascript" == raw(CoffeeScript.compile(ERB.new(File.read(js_coffee_erb_file)).result(binding))) if File.exist?(js_coffee_erb_file)
